header {
  background: rgba(40, 40, 40, 1);
  background-image: url(../../components/assets/img/background-texture.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: moveBackground 50s linear infinite alternate;
  padding: 25px 0;

  .header_logo2 {
    display: none;
    @media (max-width: 768px) {
      display: block;
      transition: 0.3s ease-in-out;
    }
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      // gap: 10px;
      .headerLogo {
        width: 50px;
        border-radius: 20px 0 0 20px;
      }
    }
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }

    @media (max-width: 768px) {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 10;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    @media (max-width: 1067px) {
      flex-direction: column;
      gap: 25px;
      align-items: center;
    }

    .header_logo {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        gap: 10px;
      }

      .headerLogo {
        width: 50px;
        border-radius: 15px 15px 15px 0px;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 130px;

      @media (max-width: 1067px) {
        padding: 10px;
        border: 1px solid rgb(142, 142, 143);
        border-radius: 15px;
        transition: 0.3s ease-in-out;
      }
      @media (max-width: 768px) {
        gap: 70px;
      }
      @media (max-width: 482px) {
        gap: 40px;
      }
      @media (max-width: 392px) {
        gap: 20px;
      }
      @media (max-width: 332px) {
        gap: 10px;
      }
      @media (max-width: 302px) {
        flex-direction: column;
        width: 100%;
      }
      li {
        list-style-type: none;
        a {
          font-size: 15px;
          font-weight: 700;
          line-height: 17.24px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: rgba(255, 255, 255, 1);
          text-decoration: none;
          transition: color 0.3s ease;

          @media (max-width: 768px) {
            font-size: 10px;
          }

          &:hover {
            color: #ff00c8;
            -webkit-box-shadow: 0px 0px 181px 27px rgba(255, 0, 187, 0.31);
            -moz-box-shadow: 0px 0px 181px 27px rgba(255, 0, 187, 0.31);
            box-shadow: 0px 0px 181px 27px rgba(255, 0, 187, 0.31);
          }
        }
      }
    }

    .userLinks {
      display: flex;
      align-items: center;
      gap: 28.92px;
    }

    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: rgba(40, 40, 40, 0.95);
      position: absolute;
      top: 60px;
      left: 0;
      padding: 20px;
      border-radius: 0 0 15px 15px;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    &.open {
      display: flex;
      max-height: 500px;
      opacity: 1;
    }
    @media (max-width: 768px) {
      backdrop-filter: blur(10px);
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }
  }

  hr {
    border: 1px solid rgba(255, 255, 255, 1);
    margin-top: 20px;
  }
}
@keyframes moveBackground {
  0% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}
